<section id="login-section">
    <h2>Login</h2>
    <form class="form login-form" id="login-form">
        <div>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required><br>
        </div>
        <div>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</section>

<script scr="/js/login.js"></script>