<section id="signup-section">
    <h2>Sign Up</h2>
    <form class="form signup-form" id="signup-form">
        <div>
            <label for="new-username">Username:</label><br>
            <input type="text" id="new-username" name="username" required><br>
        </div>
        <div>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>
        </div>
        <div>
            <label for="new-password">Password:</label><br>
            <input type="password" id="new-password" name="password" required><br>
        </div>
        <div>
            <button type="submit">Sign Up</button>
        </div>
    </form>
</section>

<script scr="/js/signup.js"></script>