<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <!-- bootstrap if i use it -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- custom css -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav class="navat navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Home</a>
            <a class="navbar-brand" href="/dashboard">Dashboard</a>
            {{#if loggedIn}}
            <a class="navbar-brand" href="/logout">Logout</a>
            {{else}}
            <a class="navbar-brand" href="/login">Login</a>
            {{/if}}
        </nav>
        <h1 class="tex-center my-4">Tech Blog</h1>
    </header>

    <div class="container">
        {{body}}
    </div>
    
      <!-- Bootstrap JS scripts here -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>